*{
  padding: 0;
  margin: 0;

}
.header{
  background-color: #808080;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.about{
  padding-left: 5%;
  padding-right: 5%;

}

.footer{
  background-color: #808080;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 2%;
  bottom: 0;
  position: fixed;
  width: 100%;
}

a{
  color: white;
  text-decoration: none;
}

h2{
  padding-bottom: 2px;
  font-size:3vw;
}
h3{
  font-size:2vw;
}

h4{
  padding-bottom: 1.5px;
  font-size:1.5vw;
}
p{
  padding-bottom: 1px;
  font-size:1.2vw;
}
